*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/libraries/
local.properties
.idea/*
.gradle/*
.gradle/2.14.1
.gradle/3.2
.idea/misc.xml
.idea/workspace.xml
.idea
app/build
app/app.iml
build
/app/app.iml